.vs/
bin/
obj/
appsettings.Development.json
# Pastas de configurações locais
.vscode/

# Configurações de usuário
*.user
*.userosscache
*.userprefs

# Arquivos temporários e de log
*.log
*.tmp
*.bak
*.db
*.suo

# Banco de dados local (se estiver na pasta do projeto)
*.db
*.sqlite
*.sdf

# variáveis secretas
.env

